<a href="https://colab.research.google.com/github/bhowmiksujan/Assignments/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a Python program to count the number of characters (character frequency) in a string.
Sample String : google.com Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
string = 'google.com'

freq = {}

for char in string:
    if char in freq:
        freq[char] += 1
    else:
        freq[char] = 1

print(freq)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

2.Write a Python program to check if a given key already exists in a dictionary

In [ ]:

my_dict = {'apple': 3, 'banana': 2, 'orange': 1}


if 'apple' in my_dict:
    print("Key 'apple' already exists in the dictionary")
else:
    print("Key 'apple' does not exist in the dictionary")
    
if 'grape' in my_dict:
    print("Key 'grape' already exists in the dictionary")
else:
    print("Key 'grape' does not exist in the dictionary")

Key 'apple' already exists in the dictionary
Key 'grape' does not exist in the dictionary

3. Write a Python program that accepts a sequence of comma-separated numbers from the user
and generates a list and a tuple of those numbers. Sample data : 1, 5, 7, 23 Expected Output :
List : ['1', ' 5', ' 7', ' 23'] Tuple : ('1', ' 5', ' 7', ' 23â€™)

In [ ]:

numbers = input("Enter comma-separated numbers: ")


num_list = [int(n) for n in numbers.split(',')]


str_list = [str(n) for n in num_list]


str_tuple = tuple(str_list)


print("List:", str_list)
print("Tuple:", str_tuple)

Enter comma-separated numbers: 1,5,7,23
List: ['1', '5', '7', '23']
Tuple: ('1', '5', '7', '23')

4.Write a Python program to calculate the number of days between two dates. Sample dates :
(2014, 7, 2), (2014, 7, 11) Expected output : 9 days

In [ ]:
import datetime

date1 = datetime.date(2014, 7, 2)
date2 = datetime.date(2014, 7, 11)

delta = date2 - date1

print(delta.days)

9

5. Write a Python program to solve (x + y) * (x + y). Test Data : x = 4, y = 3 Expected Output : (4
+ 3) ^ 2) = 49.

In [ ]:
x = 4
y = 3

result = (x + y) ** 2

print(f"({x} + {y})^2 = {result}")

(4 + 3)^2 = 49

6.Write a Python program to compute the future value of a specified principal amount, rate of
interest, and number of years. Test Data : amt = 10000, int = 3.5, years = 7
Expected Output : 12722

In [ ]:
amt = 10000  # principal amount
interest_rate = 3.5  # rate of interest
years = 7  # number of years

# formula to calculate future value
future_value = amt * ((1 + (interest_rate/100)) ** years)

print(f"Future value = {round(future_value, 2)}")

Future value = 12722.79

7. Write a Python program that removes duplicate elements from a given array of numbers so
that each element appears only once and returns the new length of the array. Sample Input:
[0,0,1,1,2,2,3,3,4,4,4] Sample Output: The list of unique numbers: [0,1,2,3,4] length of the
unique list : 5

In [ ]:
nums = [0, 0, 1, 1, 2, 2, 3, 3, 4, 4, 4]

# converting the list to set to remove duplicates, then back to list
unique_nums = list(set(nums))

print("The list of unique numbers:", unique_nums)
print("Length of the unique list:", len(unique_nums))

The list of unique numbers: [0, 1, 2, 3, 4]
Length of the unique list: 5

8.Write a Python program to sort (ascending and descending) a dictionary by key value.

In [ ]:
# Example dictionary
my_dict = {'c': 5, 'b': 3, 'a': 7, 'e': 1, 'd': 4}

# Sort dictionary in ascending order by key
sorted_dict_asc = dict(sorted(my_dict.items()))

# Sort dictionary in descending order by key
sorted_dict_desc = dict(sorted(my_dict.items(), reverse=True))

# Print the sorted dictionaries
print("Ascending order:", sorted_dict_asc)
print("Descending order:", sorted_dict_desc)

Ascending order: {'a': 7, 'b': 3, 'c': 5, 'd': 4, 'e': 1}
Descending order: {'e': 1, 'd': 4, 'c': 5, 'b': 3, 'a': 7}

9. Write a Python program to add key to a dictionary. Go to the editor Sample Dictionary : {0: 10,
1: 20} Expected Result : {0: 10, 1: 20, 2: 30}

In [ ]:
# Sample dictionary
my_dict = {0: 10, 1: 20}

# Add a key-value pair to the dictionary
my_dict[2] = 30

# Print the updated dictionary
print(my_dict)

{0: 10, 1: 20, 2: 30}

10. Write a Pandas program to create and display a DataFrame from a specified dictionary data
which has the index labels. Sample Python dictionary data and list labels: exam_data = {'name':
['Arif', 'Asir', 'Arik', 'Anis', 'Anil', 'Ashish', 'Anahi', 'Alia', 'Alvin', 'Asim'], 'score': [12.5, 9, 16.5,
np.nan, 9, 20, 14.5, np.nan, 8, 19], 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 'qualify': ['yes', 'no',
'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']} labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i',â€™jâ€™]

In [ ]:
import pandas as pd
import numpy as np

# Define the dictionary data
exam_data = {'name': ['Arif', 'Asir', 'Arik', 'Anis', 'Anil', 'Ashish', 'Anahi', 'Alia', 'Alvin', 'Asim'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}


labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# Create a Pandas DataFrame from the dictionary data with specified index labels
df = pd.DataFrame(exam_data, index=labels)

# Display the DataFrame
print(df)

     name  score  attempts qualify
a    Arif   12.5         1     yes
b    Asir    9.0         3      no
c    Arik   16.5         2     yes
d    Anis    NaN         3      no
e    Anil    9.0         2      no
f  Ashish   20.0         3     yes
g   Anahi   14.5         1     yes
h    Alia    NaN         1      no
i   Alvin    8.0         2      no
j    Asim   19.0         1     yes